
/* upper div */
.upper-div{
    background-color: rgb(46, 46, 46);
    color: white;
    padding-top: 3px;
    padding-bottom: 0%;
}
.link-login{
    color: white;
    font-weight: 600;
    font-size: 100%;
    padding: 0px 10px 0px 10px;
}
.link-login:hover{
    color: rgb(240, 240, 240);
    text-underline-offset: 2px;
}


.span-login{
    text-align: right;
    margin-bottom: 0%;
}



.megamenu {
    position: static
}

.megamenu .dropdown-menu {
    background: none;
    border: none;
    width: 100%
}


code {
    color: #745eb1;
    background: #fff;
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem
}

.text-uppercase {
    letter-spacing: 0.08em
}

.logo{
    width: 150px;
}

@media only screen and (max-width: 576px) {
    .logo{
        width: 100px;
}
.content-title{
    position: absolute;
    top: 50% !important;
    left: 30% !important;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 150% !important;
}
}

.dropdown-toggle::after{
    display: none;
}
.arrow-icon{
    vertical-align: middle;
    margin-left: -5px;
    padding-bottom: 4px;
    font-size: large;
}


@media only screen and (max-width: 992px) {
    .fixed-div{
        position: relative;
    }
}



@media only screen and (max-width: 992px) {
    .main-image{
        width: 100%;
        padding-top: 0px;
    }
}



/* images */

.column {
  float: left;
  width: 16.66%;
}
.cursor {
  cursor: pointer;
}


.img-last {
  margin-bottom: -4px;
  width: 100%;
}

img.hover-shadow {
  transition: 0.3s;
}



.last-row{
    padding: 0%;
    margin: 0%;
}




/* Footer */

.p1-footer{
    font-size: 120%;
    border-bottom: 1px solid rgb(49, 49, 49);
    color: rgb(49, 49, 49);
    padding-bottom: 10px;
}

.link-p{
    font-size: small;
    margin-bottom: 2%;
}

.link-foter{
    color: rgb(59, 59, 59);
}

.link-foter:hover{
    color: rgb(31, 31, 31);
    text-underline-offset: 1px;
}

.footer-p-about{
    font-weight: 700;
}


pre{
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(49, 49, 49);
    white-space: pre-wrap;
}


.main {
    width: 50%;
    margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.btn-footer{
    box-shadow: none !important;
    border-color: rgb(100, 100, 100);
    background-color: rgb(22, 22, 22);
    border-radius: 0% !important;
}
.btn-footer:hover{
    background-color: black;
}

.btn-footer:focus{
    box-shadow: none !important;
    border-color: rgb(100, 100, 100);
}
.input-footer{
    box-shadow: none !important;
    border-color: rgb(100, 100, 100);
    border-radius: 0% !important;

}
.input-footer:focus{
    box-shadow: none !important;
    border-color: rgb(100, 100, 100);
}

.p-copyright{
    text-align: center;
    font-size: small;
}

.link-copyright{
    color: rgb(54, 54, 54);
}
.link-copyright:hover{
    color: rgb(15, 15, 15);
    text-underline-offset: 2px;
}


/* contact us  */









